<nav class="user-account-navside">
    <ul>
        <li><a href="{{ path('product_new') }}"><i class="material-icons icon-align mr-2">add</i> Wystaw Przedmiot</a></li>
        <li><a href="{{ path('account_user_bought_products') }}"><i class="material-icons icon-align mr-2">shopping_cart</i> Kupione Przedmioty</a></li>
        <li><a href="{{ path('account_user_auction_list') }}"><i class="material-icons icon-align mr-2">list</i> Moje oferty</a></li>
        <li><a href="{{ path('account_user_conversations') }}"><i class="material-icons icon-align mr-2">message</i> Konwersacje</a></li>
        <li><a href="{{ path('basket') }}"><i class="material-icons icon-align mr-2">shopping_basket</i> Koszyk</a></li>
        <li><a href="{ { path('user_account') }}"><i class="material-icons icon-align mr-2">account_circle</i> Konto</a></li>
    </ul>
</nav>