{% extends 'account/account_template.html.twig' %}

{% block account_body %}
    <div class="mb-2">
        <h4 class="mb-3 text-center">Rozmowa z użytkownikiem: {{ conversation.author is same as(app.user) ? conversation.recipient.username : conversation.author.username }}</h4>
        {% for message in conversation.messages %}
            {% if message.author is same as(app.user) %}
                <div class="card card-body ml-5 float-right mb-3 text-white user-message-window-background">
                    <p class="text-right mb-1">{{ message.createdAt.format('Y-m-d H:i') }}</p>
                    <p class="mb-0">
                        {{ message.text }}
                    </p>
                </div>
                <div style="clear:both"></div>
            {% else %}
                <div class="card card-body mr-5 float-left mb-3">
                    <p class="text-left mb-1">{{ message.createdAt.format('Y-m-d H:i') }}</p>
                    <p class="mb-0">
                        {{ message.text }}
                    </p>
                </div>
                <div style="clear:both"></div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="mt-2">
        {{ form_start(form) }}
            {{ form_widget(form.text, {'attr': { 'class' : 'form-control' }}) }}
            <div class="error-msg form-error mt-1">
                {{ form_errors(form.text) }}
            </div>

            <button type="submit" class="btn btn-primary float-right mt-2">Wyślij</button>
        {{ form_end(form) }}
    </div>
{% endblock %}