{% extends 'account/account_template.html.twig' %}

{% block account_body %}
    {% if products is iterable %}

        {% for product in products %}
            <div class="card card-body mb-3">
                <div class="row">
                    <div class="col-md-2">
                        {% if product.productPictures[0] is defined %}
                            <img class="img-fluid" src="{{ asset('uploads/pictures/'~product.productPictures[0].name ) }}">
                        {% endif %}
                    </div>
                    <div class="col-md-10">
                        <span class="ml-3"><a href="{{ path('product_show', {'id': product.id}) }}" class="no-anchor-styles">{{ product.name }}</a></span> <br>
                        <span class="ml-3"><b>{{ product.price }} zł</b></span>
                    </div>

                    <hr class="mt-3">
                    
                    <div class="col-6">
                        {{ product.createdAt.format('m/d/Y H:i') }}
                    </div>
                    <div class="col-6 text-right">
                        <a href="{{ path('product_edit', {'id': product.id}) }}"><button class="btn btn-info no-border-radius">Edytuj</button></a>
                        {% include 'product/_delete_form.html.twig' %}
                    </div>
                </div>
            </div>
        {% endfor %}

    {% endif %}
    
{% endblock %}