{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
                <div class="card card-body">
                    <h1 class="text-center">Rejestracja</h1>

                    {{ form_start(registrationForm) }}

                        <div class="mb-3">
                            {{ form_label(registrationForm.email) }}
                            {{ form_widget(registrationForm.email, {'attr': { 'class' : 'form-control' }}) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(registrationForm.username) }}
                            {{ form_widget(registrationForm.username, {'attr': { 'class' : 'form-control' }}) }}
                        </div>

                        <div class="mb-3">
                            <label>Hasło</label>
                            {{ form_widget(registrationForm.plainPassword, {'attr': { 'class' : 'form-control' }}) }}
                        </div>

                        <div class="checkbox mb-3">
                            <label>
                                {{ form_widget(registrationForm.agreeTerms) }} Akceptuje Regulamin platformy store.
                            </label>
                        </div>

                        
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_name_me" required>  Wyrażam zgodę na przetwarzanie moich danych osobowych w celach marketingowych i otrzymywanie informacji handlowych od Allegro z wykorzystaniem telekomunikacyjnych urządzeń końcowych (m.in. telefon) oraz środków komunikacji elektronicznej (m.in. SMS, e-mail).
                            </label>
                        </div>

                        <button type="submit" class="btn btn-primary no-border-radius">Załóż konto</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
