 <div class="text-center mt-8 mb-8">
    {% if pages is defined and pages > 1 %}
        <ul class="m-pagination">
            {% if currentPage - 1 != 0 %}
                <li class="waves-effect"><a href="{{ path(controller_name, {'page': currentPage - 1}) }}"><i class="material-icons icon-align">chevron_left</i></a></li>
            {% else %}
                <li class="waves-effect"><a disabled><i class="material-icons icon-align">chevron_left</i></a></li>
            {% endif %}
            {% for i in range(1, pages) %}
                {% if  i == currentPage %}
                    <li class="waves-effect active"><a href="{{ path(controller_name, {'page': i }) }}">{{ i }}</a></li>
                {% else %}
                    <li class="waves-effect"><a href="{{ path(controller_name, {'page': i }) }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if currentPage + 1 <= pages %}
                <li class="waves-effect"><a href="{{ path(controller_name, {'page': currentPage + 1}) }}"><i class="material-icons icon-align">chevron_right</i></a></li>
                {% else %}
                <li class="waves-effect"><a disabled><i class="material-icons icon-align">chevron_right</i></a></li>
            {% endif %}
        </ul>
    {% endif %}
</div>