{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="d-none d-xxl-block col-xxl-2 mb-2">
                <div class="card card-body no-border-radius height-350 pr-1">
                    <h5>Kategorie</h5>
                    <ul class="list-style-type-none pl-0">
                        {% for category in categories %}
                            <li><a class="no-anchor-styles" href="{{ path('product_listing', {'category': category.id}) }}"><i class="material-icons icon-align mr-2">{{ category.icon }}</i>{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-xl-12 col-xxl-10 mb-2">
                <div class="card card-body no-border-radius height-350">
                    <div class="row text-center">
                        {% for product in homepageProducts['six_products_row'] %}
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                {% if product.productPictures[0] is defined %}
                                    <img class="mb-3 img-fluid vertical-product-image-height" src="{{ asset('uploads/pictures/'~product.productPictures[0].name) }}"/>
                                {% endif %}

                                <h4>{{ product.price }} zł</h4>
                                <p><a href="{{ path('product_show', {'id': product.id}) }}" class="no-anchor-styles">{{ product.name }}</a></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if homepageProducts['second_six_products_row']|length > 0 %}
        <div class="container-fluid mt-5">
            <p class="ml-2 product-row-caption">{{ homepageProducts['second_six_products_row'][0].category.name }}</p>
            <div class="card card-body no-border-radius">
                <div class="row text-center">
                    {% for product in homepageProducts['second_six_products_row'] %}
                        <div class="col-xs-12 col-sm-4 col-md-2">
                            {% if product.productPictures[0] is defined %}
                                    <img class="mb-3 img-fluid vertical-product-image-height" src="{{ asset('uploads/pictures/'~product.productPictures[0].name) }}"/>
                            {% endif %}

                            <h4>{{ product.price }} zł</h4>
                            <p><a href="{{ path('product_show', {'id': product.id}) }}" class="no-anchor-styles">{{ product.name }}</a></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container-fluid mt-5">
        <div class="row">
            {% if homepageProducts['two_products_row']|length > 0 %}
                <div class="col-xs-12 col-sm-12 col-md-4 mb-2">
                    <div class="card card-body text-center height-350">
                        <div class="row">
                            {% for product in homepageProducts['two_products_row'] %}
                                <div class="col-xs-12 col-md-6">
                                    {% if product.productPictures[0] is defined %}
                                            <img class="mb-3 img-fluid vertical-product-image-height" src="{{ asset('uploads/pictures/'~product.productPictures[0].name) }}"/>
                                    {% endif %}

                                    <h4>{{ product.price }} zł</h4>
                                    <p><a href="{{ path('product_show', {'id': product.id}) }}" class="no-anchor-styles">{{ product.name }}</a></p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            
            {% if homepageProducts['three_products_row']|length > 0 %}
                <div class="col-xs-12 col-sm-12 col-md-4 mb-2">
                    <div class="card card-body height-350">
                        <div class="row">
                            {% for product in homepageProducts['three_products_row'] %}
                                <div class="row g-0">
                                    <div class="col-3 text-center">
                                        {% if product.productPictures[0] is defined %}
                                            <img class="mb-3 img-fluid horizontal-product-image-height" src="{{ asset('uploads/pictures/'~product.productPictures[0].name) }}"/>
                                        {% else %}
                                            <img class="mb-3 img-fluid horizontal-product-image-height" src="#"/>
                                        {% endif %}
                                    </div>

                                    <div class="col-9">
                                        <h4>{{ product.price }} zł</h4>
                                        <p><a href="{{ path('product_show', {'id': product.id}) }}" class="no-anchor-styles">{{ product.name }}</a></p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if homepageProducts['second_two_products_row']|length > 0 %}
                <div class="col-xs-12 col-sm-12 col-md-4 mb-2">
                    <div class="card card-body text-center height-350">
                        <div class="row">
                            {% for product in homepageProducts['second_two_products_row'] %}
                                <div class="col-xs-12 col-md-6">
                                    {% if product.productPictures[0] is defined %}
                                            <img class="mb-3 img-fluid vertical-product-image-height" src="{{ asset('uploads/pictures/'~product.productPictures[0].name) }}"/>
                                    {% endif %}

                                    <h4>{{ product.price }} zł</h4>
                                    <p><a href="{{ path('product_show', {'id': product.id}) }}" class="no-anchor-styles">{{ product.name }}</a></p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
