{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/filter_products/add_div_with_pagination.js') }}"></script>
    <script src="{{ asset('assets/js/filter_products/create_product_widget.js') }}"></script>
    <script src="{{ asset('assets/js/filter_products/filter_products.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h3 class="mb-4 ml-3">szukasz "{{ productName }}"</h3>

        <div class="row">
            <div class="col-sm-12 col-md-3 mb-2 mt-3 text-center" id="loading-filters-spinner">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 mb-2 hidden" id="div-with-filters">
                <div class="card card-body no-border-radius">
                    <h4 class="mb-3">Filtry</h4>

                    <h5>stan</h5>
                    <div class="form-check">
                        <input class="form-check-input" name="product_state" type="radio" data-state="nowy" id="state_new">
                        <label class="form-check-label" for="state_new">
                            nowy
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="product_state" type="radio" data-state="używany" id="state_used">
                        <label class="form-check-label" for="state_used">
                           używany
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="product_state" type="radio" data-state="bardzo dobry" id="state_very_good">
                        <label class="form-check-label" for="state_very_good">
                           bardzo dobry
                        </label>
                    </div>

                    <h5 class="mt-3">rodzaj oferty</h5>
                    <div class="form-check">
                        <input class="form-check-input product-auction-type" name="product_auction_type" type="radio" data-auctionType="buy_now">
                        <label class="form-check-label" for="state_new">
                            kup teraz
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input product-auction-type" name="product_auction_type" type="radio" data-auctionType="auction">
                        <label class="form-check-label" for="state_used">
                           licytacja
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input product-auction-type" name="product_auction_type" type="radio" data-auctionType="free_advertisment">
                        <label class="form-check-label" for="offer_free_advertisment">
                           ogłoszenie
                        </label>
                    </div>

                    <h5 class="mt-3">cena (zł)</h5>
                    <div class="form-check">
                        <input class="form-check-input" name="price_fork" type="radio" data-minPrice="0" data-maxPrice="{{ filterPrices[0] - 0.01}}" id="prize-bracket-one">
                        <label class="form-check-label" for="prize-bracket-one">
                            poniżej {{ filterPrices[0] }} zł
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="price_fork" type="radio" data-minPrice="{{ filterPrices[0] }}" data-maxPrice="{{ filterPrices[1] }}" id="prize-bracket-two">
                        <label class="form-check-label" for="prize-bracket-two">
                            {{ filterPrices[0] }} zł do {{ filterPrices[1] }} zł
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="price_fork" type="radio" data-minPrice="{{ filterPrices[1] + 0.01 }}" data-maxPrice="{{ filterPrices[2] }}" id="prize-bracket-three">
                        <label class="form-check-label" for="prize-bracket-three">
                            {{ filterPrices[1] }} zł do {{ filterPrices[2] }} zł
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="price_fork" type="radio" data-minPrice="{{ filterPrices[2] + 00.1 }}" data-maxPrice="{{ filterPrices[3] }}" id="prize-bracket-four">
                        <label class="form-check-label" for="prize-bracket-four">
                            powyżej {{ filterPrices[2] }} zł
                        </label>
                    </div>

                    <form class="row row-cols-md-auto g-3 align-items-center mt-2">
                        <div class="col-md-5">
                            <input type="text" class="form-control" placeholder="od" id="minimum-price">
                        </div>

                        <div class="col-md-2 text-center">
                            -
                        </div>
                        
                        <div class="col-md-5">
                            <input type="text" class="form-control" placeholder="do" id="maximum-price">
                        </div>
                    </form>

                    <h5 class="mt-3">sposoby dostawy</h5>
                    {% for type in deliveryTypes %}
                        <div class="form-check mb-2">
                            <input class="form-check-input delivery-type-checkbox" value="{{ type.name }}" type="checkbox" value="">
                            <label class="form-check-label" for="state_new">
                                {{ type.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-sm-12 col-md-9 mb-2">
                {% if products is iterable and products[0] is defined %}
                <div class="card card-body no-border-radius pl-4 pt-4" id="product-container">
                    {% for product in products %}
                        <div class="row mb-2">
                            <div class="col-4 col-sm-4 col-md-3 col-xl-2 text-center mb-2">
                                {% if product.productPictures[0] is defined %}
                                    <img class="img-fluid" src="{{ asset('uploads/pictures/'~product.productPictures[0].name) }}"/>
                                {% endif %}
                            </div>

                            <div class="col-8 col-sm-6 col-md-9 col-xl-10 mb-2">
                                <p>
                                    <a href="{{ path('product_show', {'id': product.id}) }}" class="no-anchor-styles">{{ product.name }}</a> <br>
                                    <small>
                                        Stan: {{ product.state }}
                                    </small> 
                                    {% if product.getProductSpecificProperties()[0] is defined %}
                                        <small class="ml-3">
                                            {{ product.getProductSpecificProperties()[0].property }} : {{ product.getProductSpecificProperties()[0].value }}
                                        </small>
                                    {% endif %}
                                    {% if product.getProductBasicProperties()[0] is defined %}
                                        <small class="ml-3">
                                            {{ product.getProductBasicProperties()[0].property }} : {{ product.getProductBasicProperties()[0].value }}
                                        </small>
                                    {% endif %}
                                </p>

                                <h4>{{ product.price }} zł</h4>
                            </div>
                        </div>

                        <hr>
                    {% endfor %}
                    <div class="text-center mt-8 mb-8">
                        {% if pages is defined and pages > 1 %}
                            <ul class="m-pagination">
                                {% if currentPage - 1 != 0 %}
                                    <li class="waves-effect"><a href="{{ path('product_listing', {'page': currentPage - 1, 'product': productName, 'category': productCategory, 'owner': productOwner }) }}"><i class="material-icons icon-align">chevron_left</i></a></li>
                                {% else %}
                                    <li class="waves-effect"><a disabled><i class="material-icons icon-align">chevron_left</i></a></li>
                                {% endif %}
                                {% for i in range(1, pages) %}
                                    {% if  i == currentPage %}
                                        <li class="waves-effect active"><a href="{{ path('product_listing', {'page': i, 'product': productName, 'category': productCategory, 'owner': productOwner}) }}">{{ i }}</a></li>
                                    {% else %}
                                        <li class="waves-effect"><a href="{{ path('product_listing', {'page': i, 'product': productName, 'category': productCategory, 'owner': productOwner }) }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if currentPage + 1 <= pages %}
                                    <li class="waves-effect"><a href="{{ path('product_listing', {'page': currentPage + 1, 'product': productName, 'category': productCategory, 'owner': productOwner}) }}"><i class="material-icons icon-align">chevron_right</i></a></li>
                                {% else %}
                                    <li class="waves-effect"><a disabled><i class="material-icons icon-align">chevron_right</i></a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                    <p class="h4">Nie ma produktów pasujących do twoich kryteriów.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}