{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <h3 class="mb-4 ml-3">szukasz "{{ productName }}"</h3>

        <div class="row">
            <div class="col-sm-12 col-md-3 mb-2">
                <div class="card card-body no-border-radius">
                    <h4 class="mb-3">Filtry</h4>

                    <h5>stan</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="state_new">
                        <label class="form-check-label" for="state_new">
                            nowe
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="state_used">
                        <label class="form-check-label" for="state_used">
                           używane
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="state_after_exposure">
                        <label class="form-check-label" for="flexCheckChecked">
                           powystawowe
                        </label>
                    </div>

                    <h5 class="mt-3">rodzaj oferty</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="offer_type_buy_now">
                        <label class="form-check-label" for="state_new">
                            kup teraz
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="offer_type_auction">
                        <label class="form-check-label" for="state_used">
                           licytacja
                        </label>
                    </div>

                    <h5 class="mt-3">cena (zł)</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            poniżej 350 zł
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            900 zł do 1750 zł
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            1750 zł do 2750 zł
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            powyżej 2750 zł
                        </label>
                    </div>

                    <form class="row row-cols-md-auto g-3 align-items-center mt-2">
                        <div class="col-md-5">
                            <input type="text" class="form-control" placeholder="od">
                        </div>

                        <div class="col-md-2 text-center">
                            -
                        </div>
                        
                        <div class="col-md-5">
                            <input type="text" class="form-control" placeholder="do">
                        </div>

                    </form>

                    <h5 class="mt-3">sposoby dostawy</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="offer_type_buy_now">
                        <label class="form-check-label" for="state_new">
                            Kurier
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="offer_type_auction">
                        <label class="form-check-label" for="state_used">
                           Paczkomaty InPost
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="offer_type_auction">
                        <label class="form-check-label" for="state_used">
                           Odbiór w punkcie
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="offer_type_auction">
                        <label class="form-check-label" for="state_used">
                           List
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-9 mb-2">
                {% if products is iterable and products[0] is defined %}
                <div class="card card-body no-border-radius pl-4 pt-4">
                    {% for product in products %}
                        <div class="row mb-2">
                            <div class="col-4 col-sm-4 col-md-3 col-xl-2 text-center mb-2">
                                <img class="img-fluid" src="{{ asset('uploads/pictures/'~product.productPictures[0].name) }}"/>
                            </div>

                            <div class="col-8 col-sm-6 col-md-9 col-xl-10 mb-2">
                                <p>
                                    {{ product.name }} <br>
                                    <small>Stan: {{ product.state }} </small> <small class="ml-3">No Frost: brak informacji</small> <small class="ml-3">Klasa efektywności energetycznej: A+++</small>
                                </p>

                                <h4>{{ product.price }} zł</h4>
                            </div>
                        </div>

                        <hr>
                    {% endfor %}
                    {% include 'index/_pagination.html.twig' %}
                </div>
                {% else %}
                    <p class="h4">Nie ma produktów pasujących do twoich kryteriów.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}