{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="card card-body no-border-radius">
            <div class="row pt-3">
                <div class="col-7 text-center">
                    <div id="carouselIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                        <ol class="carousel-indicators">
                            {% for i, picture in product.productPictures %}
                                <li data-target="#carouselExampleCaptions" data-slide-to="{{ i }}" {% if i == 0 %} class="active" {% endif %}></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for i, picture in product.productPictures %}
                                <div class="carousel-item {% if i == 0 %} active {% endif %}">
                                    <img class="d-block w-100" src="{{ asset('uploads/pictures/'~picture.name) }}"/>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-5">
                    <h5>{{ product.name }}</h5>
                    <small>od {{ product.owner.getUsername() }} - 99,4%</small>

                    <h3 class="mt-4 mb-4">{{ product.price }} zł</h3>

                    <hr>
                        <ul class="list-style-type-none pl-1">
                            <li><i class="material-icons icon-align">directions_car</i>Dostawa od {{ product.getCheapestDeliveryPrice() }} zł <br> <small>Czas wysyłki zwykle w ciągu {{ product.deliveryTime }} godzin</small></li>
                            <li class="mt-2"><i class="material-icons icon-align">remove_shopping_cart</i> 14 dni na odstąpienie od umowy</li>
                        </ul>
                    <hr>

                    <form method="post" action="{{ path('basket_add_product', {'id': product.id}) }}">
                        <button type="submit" {{ product.owner == app.user ? 'disabled' }}  class="btn btn-danger no-border-radius width-100 mb-2">Dodaj do koszyka</button>
                    </form>

                    <a href="{{ path('purchase_summary', {'id' : product.id }) }} ">
                        <button type="button" {{ product.owner == app.user ? 'disabled' }} class="btn btn-danger no-border-radius width-100">Kup teraz</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="card card-body no-border-radius mt-3">
            <h4 class="mb-3">Parametry</h4>

            {% if product.getProductBasicProperties|length > 0 %}
                <h5 class="mb-3 mt-3">Parametry Fizyczne</h5>
                <div class="row">
                    {% for property in product.getProductBasicProperties %}
                    <div class="col-6">
                        {{ property.property }}: {{ property.value }}
                    </div>
                    {% endfor %} 
                </div>
            {% endif %}

            {% if product.getProductPhysicalProperties|length > 0 %}
                <h5 class="mb-3 mt-3">Parametry Fizyczne</h5>
                <div class="row">
                    {% for property in product.getProductPhysicalProperties %}
                    <div class="col-6">
                        {{ property.property }}: {{ property.value }}
                    </div>
                    {% endfor %} 
                </div>
            {% endif %}

            {% if product.getProductSpecificProperties|length > 0 %}
                <h5 class="mb-3 mt-3">Dane szczegółowe</h5>
                <div class="row">
                    {% for property in product.getProductSpecificProperties %}
                    <div class="col-6">
                        {{ property.property }}: {{ property.value }}
                    </div>
                    {% endfor %} 
                </div>
            {% endif %}
        </div>

        <div class="card card-body no-border-radius mt-3">
            <h4 class="mb-3">Opis</h4>
            <p>
                {{ product.description }}
            </p>
        </div>
    </div>
{% endblock %}