{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-6">
                <section class="stripe-section mb-5">
                    <div class="stripe-product">
                        <img
                            src="{{ asset('uploads/pictures/'~purchaseProduct.product.productPictures[0].name) }}"
                            alt="The cover of Stubborn Attachments"
                        />
                        <div class="stripe-product-description">
                            <h3>{{ purchaseProduct.product.name }}</h3>
                            <h5>{{ (purchaseProduct.product.price * purchaseProduct.quantity) + purchaseProduct.deliveryType.defaultPrice }} zł</h5>
                        </div>
                    </div>
                    <button class="checkout-button" data-purchaseId="{{ purchaseProduct.purchase.id }}" data-purchaseProductId="{{ purchaseProduct.id }}">Zapłać</button>
                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        var stripe = Stripe("pk_test_ZYDGLYL5xhuq5y2Aa8Rudxgg");
        var checkoutButtons = document.getElementsByClassName("checkout-button");

        Array.from(checkoutButtons).forEach(checkoutButton => 
            checkoutButton.addEventListener("click", function () {
                fetch(`/purchase/${checkoutButton.getAttribute('data-purchaseId')}/payment/${checkoutButton.getAttribute('data-purchaseProductId')}`, {
                    method: "POST",
                })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {

                    if (session.error) {
                        alert(session.error);
                    } else {
                        return stripe.redirectToCheckout({ sessionId: session.id });
                    }
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result && result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    if (error) console.error("Error:", error);
                });
            })
        );
  </script>
{% endblock %}