{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/purchase_summary/attach_event_to_change_user_address_to_button.js') }}"></script>
    <script src="{{ asset('assets/js/purchase_summary/attach_event_to_update_user_address_in_database.js') }}"></script>
    <script src="{{ asset('assets/js/purchase_summary/attach_event_to_cancel_user_address_form_button.js') }}"></script>
    <script src="{{ asset('assets/js/purchase_summary/hide_user_address_form.js') }}"></script>
    <script src="{{ asset('assets/js/purchase_summary/hide_previous_user_address_data.js') }}"></script>
    <script src="{{ asset('assets/js/purchase_summary/show_user_address_data.js') }}"></script>
    <script src="{{ asset('assets/js/purchase_summary/show_user_address_form.js') }}"></script>
    <script src="{{ asset('assets/js/purchase_summary/index.js') }}"></script>
    <script src="{{ asset('assets/js/create_spinner_widget.js') }}"></script>
    <script src="{{ asset('assets/js/purchase_summary/adjust_forward_button_text.js') }}"></script>
    <script src="{{ asset('assets/js/purchase_summary/set_delivery_price.js') }}"></script>
    <script src="{{ asset('assets/js/purchase_summary/check_if_user_address_is_filled.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row mb-2">
            <div class="col-md-6">
                <p class="mb-1"><b>Podsumowanie i dostawa</b></p>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="col-md-6">
                <p class="mb-1"><b>Płatność</b></p>
                <div class="progress">
                    <div class="progress-bar bg-success" id="payment-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-lg-9 mb-3 pt-2">
                <div class="card card-body mb-3">
                    <div class="row">
                        <div class="col-md-12" id="summary-delivery-address-div">
                            <h4>Dane odbiorcy przesyłki</h4>
                            <small class="text-muted">Na ten adres zostanie wysłana Twoja przesyłka.</small>

                            {% if app.user.userAddress %}
                                <div class="user-address-data mt-1 col-12 col-md-6">
                                    {{ app.user.userAddress.name }} {{ app.user.userAddress.surname }} <br>
                                    {{ app.user.userAddress.address }} <br>
                                    {{ app.user.userAddress.zipCode }} {{ app.user.userAddress.city }} <br>
                                    {{ app.user.userAddress.phoneNumber }} <br>
                                </div>

                                <button class="mt-2 btn bg-inherit link-button" id="change-user-address-button">ZMIEŃ ADRES</button>
                            {% else %}
                                <div id="add-user-delivery-data-section">
                                    <h4 class="mt-4 mb-3">Uzupełnij dane na temat adresu</h4>
                                    
                                    <div class="col-12 col-sm-8 col-md-6">
                                        {% include 'purchase/_address_form.html.twig' %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="card card-body">
                    <div class="row">
                        <div class="col-sm-3 col-lg-2">
                            {% if product.productPictures[0] is defined %}
                                <img class="img-fluid" src="{{ asset('uploads/pictures/'~product.productPictures[0].name ) }}">
                            {% endif %}
                        </div>
                        <div class="col-sm-6 col-lg-8 xs-mt-2">
                            <span><a href="{{ path('product_show', {'id': product.id}) }}" class="no-anchor-styles">{{ product.name }}</a></span> <br>
                            <small>{{ itemsQuantity }} x {{ product.price }} zł</small>
                        </div>
                        <div class="col-sm-3 col-lg-2 center-div-verticaly xs-mt-1">
                            <span><h4 class="display-inline">{{ product.price * itemsQuantity }} zł</h4></span>
                        </div>  

                        <input type="hidden" id="product-id-input" value="{{ product.id }}">
                    </div>

                    <h5 class="mt-3 mb-3">Wybierz sposób dostawy</h5>
                    {% for deliveryType in product.getDeliveryTypes %}
                        <div class="form-check mb-3">
                            <input class="form-check-input purchase-summary-product-delivery-type" name="delivery_type" type="radio" data-deliveryPrice="{{ deliveryType.default_price }}" data-paymentType="{{ deliveryType.payment }}" data-deliveryTypeId="{{ deliveryType.id }}">
                            <label class="form-check-label">
                                {{ deliveryType.name }} - {{ deliveryType.default_price }} zł
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="sticky-top pt-2 z-index-0">
                    <div class="card card-body">
                        <h4>Podsumowanie</h4>
                        <p class="mb-1">
                            <span class="float-left">Wartość przedmiotów:</span>
                            <span class="float-right">{{ product.price * itemsQuantity }} zł</span>
                        </p>
                        <p class="mb-1">
                            <span class="float-left">Dostawa:</span> 
                            <span class="float-right"><span id="item-delivery-price">0</span> zł</span>
                        </p>

                        <hr>

                        <p class="text-right mt-2">Do zapłaty <b>{{ product.price * itemsQuantity }} zł</b> + dostawa</p>

                        <input type="hidden" id="items-quantity" value="{{ itemsQuantity }}">
                        
                        <a id="forward-to-payment-link" {{ app.user.userAddress ? 'data-userAddressFilled=true' : null }}>
                            <button class="btn btn-success no-border-radius width-100" disabled>Płatność</button>
                        </a>
                        <div id="no-user-address-error-div" class="error-msg mt-2"></div>
                        <small class="text-muted mt-1">Klikając w ten przycisk potwierdzasz zakup. Sprzedawca otrzyma twoje zamówienie.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
